<div
  class="authentication-card-container"
  fxLayout="column"
  fxLayoutAlign="center"
>
  <mat-card class="authentication-card">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title></mat-card-header
    >
    <mat-card-content>
        <p>
            <span *ngIf="submitted">L'utilisateur existe déjà !</span>
        </p>
      <form
        [formGroup]="registerForm"
        fxLayout="column"
        fxLayoutAlign="center stretch"
      >
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Country</mat-label>
        <select matNativeControl name="country" id="country" formControlName="country" (change)="onChange($event.target.value)">
          <option value="" disabled selected>Select Country</option>
          <option value="Afrique">Afrique</option>
          <option value="Europe">Europe</option>
          <option value="Amerique">Amerique</option>
          <option value="Asie">Asie</option>
          <option value="Australie">Australie</option>
        </select>
      </mat-form-field>
      <div class="test" *ngIf="isAfrican">
        <mat-label>From Senegal</mat-label>
        <input type="checkbox" formControlName="african">
      </div>
      <!-- <mat-form-field *ngIf="isAfrican">
        <mat-label>Senegal is your country ?</mat-label>
      <mat-checkbox matNativeControl formControlName="african">
      </mat-checkbox>
    </mat-form-field> -->
    <mat-label>Choose your classes</mat-label>
      <div *ngFor="let class of classes; let i=index">
        <input type="checkbox" formArrayName="selectedClasses" [value]="class.value" (change)="onCheckboxChange($event)" 
        />
        {{ class.name}}
      </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!registerForm.valid">
        Register
      </button>
      <button mat-button routerLink="/login" routerLinkActive="active">
        Already have an account? Login here.
      </button>
    </mat-card-actions>
  </mat-card>
</div>